<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.serviceModel>
		<services>
			<service name="ProxyCacheService.ProxyService">
				<endpoint address="http://localhost:8733/Design_Time_Addresses/ProxyCacheService/ProxyServices" binding="webHttpBinding" contract="ProxyCacheService.IProxyService" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior>
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>